<button type="button" class="btn btn-danger"   (click)="showModal=true">Cliquez pour ouvrir le modal</button>

<div id="ModaldeleteConfirm" class="modal fade"  [ngClass]="{'show': showModal}"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <i class="fa fa-trash"></i>
        </div>
        <div class="modal-title">
            </div>
        <div class="modal-body">
           هل تريد حذف المعطى الحالي؟</div>
        <div class="modal-footer">
        <Button ID="btnDeletePRG"  Text="موافق" Class="btn btn-danger " > حذف</Button>
            <button type="button" class="btn btn-dark" >
                إلغاء</button>
        </div>
    </div>
</div>
</div>